<h1>Human</h1>
{{#if human}}
	<!-- TODO: These aren't paragraphs! -->
	<p>Name: {{human.name}}</p>
	<p>Age: {{human.age}}</p>
	<p>Id: {{human.id}}</p>
	
	<a href="/update-human/{{human.id}}">Upudate</a>
	
	<form action="/delete-human/{{human.id}}" method="POST">
		<input type="submit" value="Delete">
	</form>
	
{{else}}
	<p>No human with that ID exists.</p>
{{/if}}