<h1>Human</h1>
{{#if human}}
	<!-- TODO: These aren't paragraphs! -->
	<p>Name: {{human.name}}</p>
	<p>Age: {{human.age}}</p>
	<p>Id: {{human.id}}</p>
	
	{{#if isLoggedIn}}
		<a href="/humans/update/{{human.id}}">Update</a>
		
		<form action="/humans/delete/{{human.id}}" method="POST">
			<input type="submit" value="Delete">
		</form>
	{{/if}}
	
{{else}}
	<p>No human with that ID exists.</p>
{{/if}}